<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="form_result" method="post">
      <input type="text" name="name" value="">
      <input type="text" name="id" value="">
      <input type="submit" name="" value="">
    </form>
  </body>
</html>
